.root {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #FFD700;
    -fx-stroke-width: 3pt;
}

Label,JFXButton {
    -fx-text-fill: white;
}

JFXListView, #container {
    -fx-background-color: #313335;
}

.list-cell, #container-tile {
    -fx-background-color: #2b2b2b;
}

#container {
    -fx-padding: 10pt;
}

#container-tile {
    -fx-padding: 10pt;
}

#fieldLabel {
    -fx-font-size: 1.8em;
}

.list-cell:selected {
    -fx-background-color: #996515;
}

JFXTextField {
    -fx-text-fill: white;
}