.root {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #5b5c5b;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: black;
    -fx-stroke-width: 3pt;
}

Label,JFXButton {
    -fx-text-fill: white;
}

.viewport, #container {
    -fx-background-color: #313335;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

#indicatorFrame {
    -fx-background-color: transparent;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-font-size: 1.5em;
}

.titled-pane > *.content, .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

.thumb {
    -fx-background-color: #2b2b2b;
}

#container {
    -fx-padding: 10pt;
}

#container-tile {
    -fx-background-color: #2b2b2b;
    -fx-padding: 10pt;
}

#container-title {
    -fx-font-size: 1.8em;
}

JFXTextField {
    -fx-text-fill: white;
}

#remove-icon {
    -fx-border-color: red;
    -fx-text-fill:red;
}